/* Write your CSS here */
.top-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
}
.history-container {
  display: flex;
}
.row-wise-title {
  display: flex;
}
